body{  
        text-align: center;
       margin:0%;

        font-family:  'Merriweather', serif;

}



h2 { bottom: 100px;  
  font-family: 'Montserrat', sans-serif;
  color:#66BFBF;
font-size:2.5rem ; }


span{   text-decoration: underline;   
   }

h1{ 
 font-size: 5.625rem;
  margin: 150px  auto 0 auto  ;
color:#66BFBF ;
  font-family: 'Sacramento', 'cursive' ;


}


h3{ font-family: 'Montserrat', sans-serif;

  color:#66BFBF
}


.colud{ padding-top:100px  ; 
  
  position: absolute; 
right: 200px;  
bottom:450px  ;
   }

.colud2 { position:absolute ; 
left: 200px ; 

}

.skill-row{width: 50% ;  
margin:100px  auto 100px auto    ;
text-align: left ;
line-height: 2;




}
.skillpic{width:25% ; 
  float: left ;
  margin-right: 30px ;
  

}
.skillpic2{width:25%; 
float: right ;
margin-left:30px  ;
}
 
.top-container{ background-color: #EAF6F6 ;
 padding-top:50px; 
 
 

}

.hi{
position: absolute;
 top :1120px;
 left:545px;


 
}

.aboutme{   
margin:100px 0 0 0  ;
 left:100px  ;
 color: #40514E
 ;
font-weight: bold ;
}


hr{  border-color: #66BFBF;
  border-style: none;   
  border-width:5px ;  
  
  width: 5% ;
    border-top-style:dotted   ;
    
      
   

}
h3{ color:#11999E ;  
font-weight:bold  ;
}

hr {  border-color: 
  silver
;

  margin-top: 100px ; 

  
  ;}

  .skills{ margin-top:100px    }

  .text{ margin-top:50px  }

  .line{ margin-bottom :50px;
  top:30px;  }